doctype html
html
  head
    title Manya Online Education
    block scripts
    block style 
  
  body
    

    block content
      nav#navbar
        ul
        div#logo
           img(src="https://media.istockphoto.com/id/1139929097/video/dancing-silhouette-woman-on-black-background-alpha.jpg?s=640x640&k=20&c=3pJ51eYcdTzz-XYGWauUnk9hQuw3EiZCNQsBNOad33I=")
           | MDA
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Services]
        li #[a(href='/') Courses]
        li #[a(href='/') Contact] 

      footer#footer 
        | Copywrite@ manyadanceacademy123.com | All rights reserved
      
    
  
     
      